@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Risque&family=Rosario:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --White: #F9F9F9;
}

body {
    font-size: 1.2rem;
    font-family: 'Rosario', sans-serif;
    background: url(../img/bg-image.jpg) no-repeat center/cover;
    height: 100vh;
    color: var(--White);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
    margin-top: 6.8rem;
}

header>img {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
}

header>h1 {
    font-family: 'Righteous', sans-serif;
    font-weight: normal;
}

header>p {
    font-family: 'Risque', sans-serif;
    font-size: 1.6rem;
}

main {
    margin-top: 3.7rem;
}

main,
section,
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main,
section {
    gap: 2.0rem;
}

section button {
    width: 25.6rem;
    height: 5rem;
    background-color: transparent;
    border: .1rem solid var(--White);
    border-radius: 1.0rem;
}

section button:nth-child(1) {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--White);
    font-size: 1.6rem;
}

.line {
    white-space: nowrap;
    overflow: hidden;
}

.typing-Effect {
    animation: blinkCursor 705ms steps(40) infinite normal, typing 1s steps(40) 1s normal both;
}

@keyframes blinkCursor {
    from {
        border-right: 2px solid white;
    }

    to {
        border-right: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 6.2em;
    }
}

.shake {
    animation: shake .2s infinite;
}

@keyframes shake {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: .6rem;
    }

    50% {
        margin-left: 0;
    }

    75% {
        margin-left: -.6rem;
    }

    100% {
        margin-left: 0;
    }
}